* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

button {
  border: 0;
  background-color: white;
  outline: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  font-size: 20px;
  font-weight: 500;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 1rem;
}

nav a.active {
  color: royalblue;
}

.home {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.home .page_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .page_title h3 {
  font-size: 25px;
}

.home .page_title button {
  padding: 0.6rem 1rem;
  background-color: #0066ff;
  color: white;
  border-radius: 0.5rem;
  font-size: 18px;
}

.home .search_category {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1.5rem;
}

.home .search_category input {
  border: 1px solid gainsboro;
  padding: 0.5rem;
  border-radius: 5px;
  width: 25%;
  outline: 0;
}

.home .search_category select {
  border: 1px solid gainsboro;
  padding: 0.5rem;
  border-radius: 5px;
  width: 15%;
}

.home .search_category select::before {
  display: none;
}

.home .loadMore {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
}

.table {
  width: 100%;
  border: 1px solid gainsboro;
  border-radius: 5px;
  text-transform: capitalize;
}

.table .tabel_head {
  border-bottom: 1px solid gainsboro;
  padding: 1.5rem 1rem;
  color: #999;
  display: flex;
  align-items: center;
  text-align: center;
}

.table .col_product_name,
.table .cell_product_name {
  width: 40%;
}
.table .tabel_head .col_product_price,
.table .cell_product_price {
  width: 15%;
}
.table .tabel_head .col_product_category,
.table .cell_product_category {
  width: 25%;
}
.table .tabel_head .col_product_action,
.table .cell_product_action {
  width: 20%;
}

.table .table_body .row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  text-align: center;
}

.table .cell_product_action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.table .cell_product_action img {
  width: 20px;
}

/*dfeafb*/

.dashboard_layout_structure {
  display: flex;
}

aside {
  width: 20%;
  min-height: 100vh;
  background-color: #f9fafb;
  border-right: 1px solid gainsboro;
  padding: 1rem;
}

.aside_auth {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.aside_auth .circle_photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #777;
}

aside .aside_links {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

aside .aside_links a {
  display: block;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: 0;
}

aside .aside_links a.active {
  background-color: #dfeafb;
  color: #0066ff;
}

.dashboard_Content {
  width: 80%;
  margin: 0 0 0 auto;
  padding: 2rem 3rem;
}

.page_title {
  margin-bottom: 1.2rem;
}

.page_title p {
  font-size: 14px;
  color: #999;
  margin-top: 0.6rem;
}

.gen_cate_prod {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.gen_cate_prod .cards {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid gainsboro;
  width: 45%;
}

.gen_cate_prod .cards p {
  margin: 0.5rem 0;
  color: #999;
  font-size: 14px;
}

.gen_cate_prod .cards button {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #0066ff;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.gen_cate_prod .cards button:hover {
  transform: scale(0.98);
}

.dash_Tables {
  margin-top: 2rem;
}

.dash_Tables h2 {
  padding: 1.5rem 1rem;
}

.dash_Tables.Category_Table .col_product_name,
.dash_Tables.Category_Table .cell_product_name {
  width: 100%;
  text-align: start;
}

.Gen_Product {
  width: 80%;
  height: 100vh;
  background-color: #dfeafb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Gen_Product .Gen_Layout {
  background-color: white;
  padding: 1.2rem;
  border-radius: 12px;
  width: 60%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputs .input_container {
  display: flex;
  flex-direction: column;
}

.inputs .input_container label {
  margin-bottom: 0.5rem;
}

.inputs .input_container input {
  outline: 0;
  padding: 0.7rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.inputs .input_container.two_inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.inputs .input_container.two_inputs div {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.inputs .input_container.two_inputs div select {
  padding: 0.7rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
  outline: 0;
}

.inputs .input_container textarea {
  padding: 1rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.gen_btns {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.gen_btns button {
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.gen_btns button.ok_btn {
  color: white;
  background-color: #0066ff;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category .cards button {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #0066ff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s ease;
}

.table.dash_Tables.category_table .col_product_name,
.table.dash_Tables.category_table .col_product_price,
.table.dash_Tables.category_table .cell_product_name,
.table.dash_Tables.category_table .cell_product_price {
  width: 40%;
}

.table.dash_Tables.category_table .col_product_action,
.table.dash_Tables.category_table .cell_product_action {
  width: 20%;
}

.cell_product_action button {
  cursor: pointer;
}
